<body>
    <div id="songSelectionContainer">
        <div id="playSongButtonContainer">
            <button id="playSongButton" (click)="playSong()">
                <svg viewBox="0 0 100 100" class="play-icon">
                    <!-- Círculo -->
                    <circle cx="50" cy="50" r="45"></circle>
                    <!-- Símbolo de Play -->
                    <polygon points="40,30 70,50 40,70"></polygon>
                </svg>
            </button>
        </div>
        <div id="selectSongButtonContainer">
            <button id="selectSongButton" (click)="selectSong()">Select</button>
        </div>
        <div id="selectedSongContainer">
            <span id="selectedSong">{{ selectedSong?.name }}</span>
        </div>
    </div>

    <div id="albumList">
        <!-- PC-98 Albums -->
        <div class="albumGroup">
            <h2>PC-98</h2>
            <div *ngFor="let album of albumsPC98" class="albumContainer">
                <label class="albumButton">
                    <input (click)="selectAlbum(album)" type="radio" name="album" class="albumRadio" />
                    <span>{{ album.name }}</span>
                </label>
            </div>
        </div>

        <!-- Main Game Albums -->
        <div class="albumGroup">
            <h2>Main Game</h2>
            <div *ngFor="let album of albumsMainGame" class="albumContainer">
                <label class="albumButton">
                    <input (click)="selectAlbum(album)" type="radio" name="album" class="albumRadio" />
                    <span>{{ album.name }}</span>
                </label>
            </div>
        </div>
        
        <!-- Fighter Albums -->
        <div class="albumGroup">
            <h2>Fighter</h2>
            <div *ngFor="let album of albumsFighter" class="albumContainer">
                <label class="albumButton">
                    <input (click)="selectAlbum(album)" type="radio" name="album" class="albumRadio" />
                    <span>{{ album.name }}</span>
                </label>
            </div>
        </div>

        <!-- Spin-Off Albums -->
        <div class="albumGroup">
            <h2>Spin Off</h2>
            <div *ngFor="let album of albumsSpinOff" class="albumContainer">
                <label class="albumButton">
                    <input (click)="selectAlbum(album)" type="radio" name="album" class="albumRadio" />
                    <span>{{ album.name }}</span>
                </label>
            </div>
        </div>

        <!-- Hifuu Club Albums -->
        <div class="albumGroup">
            <h2>Hifuu Club</h2>
            <div *ngFor="let album of albumsHifuuClub" class="albumContainer">
                <label class="albumButton">
                    <input (click)="selectAlbum(album)" type="radio" name="album" class="albumRadio" />
                    <span>{{ album.name }}</span>
                </label>
            </div>
        </div>

        <!-- Print Works Albums -->
        <div class="albumGroup">
            <h2>Print Works</h2>
            <div *ngFor="let album of albumsPrintWorks" class="albumContainer">
                <label class="albumButton">
                    <input (click)="selectAlbum(album)" type="radio" name="album" class="albumRadio" />
                    <span>{{ album.name }}</span>
                </label>
            </div>
        </div>
    </div>

    <div id="songListContainer" *ngIf="selectedAlbum">
        <h2>{{ selectedAlbum.name }}</h2>
        <ul class="songList">
            <li *ngFor="let song of selectedAlbum.songs; let i = index" class="songCheckbox">
                <label>
                    <input type="radio" [(ngModel)]="selectedSong" [value]="song" name="songSelection" />
                    <span>{{ song.name }}</span>
                </label>
            </li>
        </ul>
    </div>    

    <div id="songModal" class="modal" *ngIf="isModalOpen" (click)="closeModal()">
        <div class="modalContent" (click)="$event.stopPropagation()">
            <button class="closeButton" (click)="closeModal()">&times;</button>
            <h2>{{ selectedAlbum?.name }}</h2>
            <ul class="songListModal">
                <li *ngFor="let song of selectedAlbum?.songs; let songIndex = index">
                    <label><input type="checkbox" [(ngModel)]="selectedAlbum.songs[songIndex].selected" />{{ song.name }}</label>
                </li>
            </ul>
        </div>
    </div>
</body>